<div class="container">
    <h2>Zaloguj</h2>
    <div *ngIf="invalidLogin" class="alert alert-danger">Niepoprawna nazwa użytkownika lub hasło.</div>
    <form [formGroup]="form">
        <div style="padding: 20px;" class="form-group">

            <label for="userName">Nazwa Użytkownika</label>

            <input id="userName" type="text" class="form-control" formControlName="userName">
            <div *ngIf="userName.touched && userName.invalid" class="alert alert-danger">
                <div *ngIf="userName.errors.required">Nazwa użytkownika jest wymagana!</div>
            </div>
        </div>
        <div style="padding: 20px;" class="form-group">

            <label for="userName">Hasło</label>

            <input id="password" type="password" class="form-control" formControlName="password">
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                <div *ngIf="password.errors.required">Hasło jest wymagane!</div>
            </div>
        </div>
        <button style="margin-left: 20px;" class="btn btn-primary" [disabled]="form.invalid"
            (click)="login()">Zaloguj</button>
        <button style="margin-left: 20px;" class="btn btn-primary" (click)="goBack()">Wróć</button>
    </form>
</div>