<!-- Footer -------------------------------- -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>O mnie</h6>
                <p class="text-justify">Handmade Wonders <br /><i>Moje cele</i> <br />Strona ta ma póki co charakter
                    testowy. Sprawdzam, czy moje produkty wzbudzą zainteresowanie</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Nawigacja</h6>
                <ul class="footer-links">
                    <li><a routerLink="/about">O mnie</a></li>
                    <li><a routerLink="/contact">Kontakt</a></li>
                    <li><a routerLink="/posts-list/all">Wszystkie posty</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 Wszystkie prawa zastrzeżone
                    <a href="#"><b>Handmade Wonders</b></a>.
                </p>

            </div>
        </div>
    </div>
</footer>