<div class="container">
    <h2> Rejestracja nowego użytkownika </h2>
    <form [formGroup]="form">
        <div style="padding: 20px;" class="form-group">

            <label for="userName">Nazwa użytkonika</label>

            <input id="userName" type="text" class="form-control" formControlName="userName">
            <div *ngIf="userName.touched && userName.invalid" class="alert alert-danger">
                <div *ngIf="userName.errors.required">Nazwa użytkonika jest wymagana!</div>
                <div *ngIf="userName.errors.email">Nazwa użytkownika musi być w formie adresu email!</div>
            </div>
        </div>
        <div style="padding: 20px;" class="form-group">

            <label for="userName">Hasło</label>

            <input id="password" type="password" class="form-control" formControlName="password">
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                <div *ngIf="password.errors.required">Hasło jest wymagane!</div>
                <div *ngIf="password.errors.minlength">Minimalna długość hasła to 5 znaków!</div>
                <div *ngIf="password.errors.maxlength">Maksymalna długość hasła to 15 znaków!</div>
            </div>
        </div>
        <button style="margin-left: 20px;" class="btn btn-primary" [disabled]="form.invalid"
            (click)="register()">Zarejestruj</button>
        <button style="margin-left: 20px;" class="btn btn-primary" (click)="goBack()">Wróć</button>
    </form>
</div>